<div id="message-<%= message.id %>">
  <small>
    <% name = message.user.first_name %>
    <strong><%= name.nil? ? 'NoName' : name.titleize %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
