<li>
  <div>
    <p><%= review.title %> by <strong><%= review.user.first_name %></strong></p>
    <p><em><%= review.comment %></em></p>
    <p><%= review.rating.to_f %> <i class="fa-solid fa-star"></i></p>
  </div>
</li>
