<% if params[:query].present? %>
  <div id="flats-container">
    <% @flats.each do |flat| %>
      <div class="flat-card">
        <%= render 'card', flat: flat.searchable %>
      </div>
    <% end %>
  </div>
  <div id="map-container"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
<% else %>
  <section class="list-all">
    <% @flats.each do |flat| %>
      <div class="flat-card">
        <%= render 'card', flat: flat %>
      </div>
    <% end %>
  </section>
<% end %>
