<h2>Messages</h2>

<% if @hosts.where(host: current_user.id) && !@hosts.empty? %>
  <h3>Where you are the host</h3>
  <section class="list-all">
    <% @hosts.each do |chatroom| %>
      <div id="flat-chat">
        <%= link_to chatroom_path(chatroom) do %>
            <%= render 'shared/small_card', flat: chatroom.flat %>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>


<% if @chatrooms.where(user_id: current_user.id) && !@chatrooms.empty? %>
  <h3>Where you are the guest</h3>
  <section class="list-all">
    <% @chatrooms.each do |chatroom| %>
      <div id="flat-chat">
        <%= link_to chatroom_path(chatroom) do %>
            <%= render 'shared/small_card', flat: chatroom.flat %>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>
