<h2>Stays</h2>

<div class="list-all">
  <% @bookings.each do |booking| %>
    <% if booking.start_time > DateTime.now %>
      <%= render "stays", booking: booking %>
    <% end %>
  <% end %>
</div>
