<div class="flats-container show-booking">
  <%= link_to(user_bookings_path(user_id: current_user.id), class: "btn-normal") do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <%= render 'shared/booking_summary', flat: @flat %>

</div>
<div id="map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
