body{
  padding-top: 60px;
  position: relative;
  min-height: 100vh;
  // padding-bottom: 17rem;
  padding-inline: 0;
}

.main-body{
  padding-inline: 5%;
  padding-top: 1rem;
  // padding-bottom: 1.5rem;
  min-height: 90vh;
  h2{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  h3{
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  h4{
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  h5{
    margin-top: 0.6rem;
    font-size: 1.1rem;
    font-weight: bolder;
  }
}
