.btn-normal{
  padding-inline: 0.5em;
  margin: 0;
  padding: 0.5em 0.5em;
  color: black;
  text-decoration: none;
}

.btn-normal:hover{
  border-radius: 2em;
  background-color: rgb(237, 237, 237);
}
