.btn-normal{
  padding-inline: 0.5em;
  margin: 0;
  padding: 0.5em 0.5em;
  color: black;
  text-decoration: none;
}

.btn-normal:hover{
  border-radius: 2em;
  background-color: rgb(237, 237, 237);
  color: black;
}

.btn-action-link{
  text-decoration: none;
  color: black;
}

.btn-action-link:hover{
  text-decoration: underline;
  color: black;
}

.btn-action{
  width: max-content;
  padding-inline: 0.9em;
  padding-block: 0.7em;
  border: 1.2px black solid;
  border-radius: 0.5em;
  background-color: white;
  justify-content: center;
  text-decoration: none;
  color: black;
  a{
    text-decoration: none;
  }
}

.btn-action:hover {
  background-color: black;
  color: white;
  a{
    color: white;
  }
}

.btn-long{
  width: 100%;
  background-color: white;
}


.btn-delete{
  margin-block: 1em;
  padding-inline: 0.9em;
  padding-block: 0.7em;
  border: 1.2px red solid;
  border-radius: 0.5em;
  color: red;
  text-decoration: none;
}

.btn-delete:hover{
  background-color: rgb(247, 63, 63);
  color: white;
}
