#carouselExample{
  width: 440px;
  height: max-content;

  .carousel-inner{
    border-radius: 1em;
  }
  .carousel-item{
    img{
      width: 440px;
      height: 440px;
      border-radius: 1em;
    }
  }
}
