div.flat-card{
  margin: 10px;
  height: 300px;
  width: 250px;
  margin-block: 10px;

  img{
    height: 200px;
    width: 100%;
    border-radius: $border-radius-cards;
  }

  section.flat-card-info{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  section p{
    color: rgb(163, 163, 163);
    margin-bottom: 8px;
  }
}
