div.flat-card{
  // height: 325px;
  // width: 250px;
  // margin-block: 10px;
  position: relative;

  img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: $border-radius-cards;
  }

  i.like{
    position: absolute;
    color: white;
    top: 14px;
    left: 85%;
    font-size: 1.5em;
  }

  section.flat-card-info{
    width: 100%;
    padding-inline: 10px;
    padding-block: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 112px;
  }

  section p{
    color: rgb(163, 163, 163);
    margin-bottom: 4px;
  }

  a{
    text-decoration: none;
    color: black;
  }
}
