#carouselExample{
  width: 98%;
  height: max-content;

  .carousel-inner{
    border-radius: 1em;
  }
  .carousel-item{
    img{
      width: 100%;
      height: 440px;
      border-radius: 1em;
    }
  }
}
