.flat{
  ul {
    padding: 0;
    margin: 0;
  }
  li{
    list-style: none;
  }
  li.a{
    text-decoration: underline;
  }
  a{
    color: black;
  }

  .flat-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a{
      text-decoration: none;
      margin-right: 1em;
      padding-bottom: 0.5em;
      color: black;
    }
  }

  header{
    display: flex;
    justify-content: space-between;

    .flat-links{
      a{
        text-decoration: none;
      }
      ul li{
        display: inline;
      }
      li + li{
        margin-left: 10px;
      }
    }
  }

  textarea{
    width: 100%;
  }

  .flat-images{

    // img{
    //   object-fit: cover;
    // }
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: relative;

    div.main-image{
      img{
        width: 100%;
        height: 350px;
        border-radius: 8px;
      }
    }
    div.second-image{
      display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

      img{
        width: 100%;
        height: 170px;
        border-radius: 8px;
      }
    }

    a.show-photos{
      position: absolute;
      top: 285px;
      right: 40px;
      padding-inline: 0.9em;
      padding-block: 0.6em;
      background-color: white;
      color: black;
      border: 0.5px solid black;
      width: fit-content;
      border-radius: 8px;
      text-decoration: none;
      font-size: 0.8em;
    }

  }

  .flat-info{
    section{
      padding-block: 1.3em;
    }

    .things-to-know{
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, 33%);

      ul{
        padding-left: 0;
      }
    }

    .account-data{
      display: flex;
      justify-content: flex-start;

      p{
        margin-right: 2em;
      }
    }

    section + section{
      border-top: 0.5px solid grey;
    }
  }

}

.photos{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-inline: 2em;

  a{
    text-decoration: none;
    color: black;
  }

  img{
    width: 100%;
  }
}
