.flat{
  a{
    text-decoration: underline;
    color: black;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li{
    list-style: none;
  }

  header{
    display: flex;
    justify-content: space-between;

    .flat-links{
      a{
        text-decoration: none;
      }
      ul li{
        display: inline;
      }
      li + li{
        margin-left: 10px;
      }
    }
  }


  .flat-images{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;

    img{
      object-fit: cover;
    }
  }

  .flat-info{
    section{
      padding-block: 1.3em;
    }

    .things-to-know{
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, 33%);

      ul{
        padding-left: 0;
      }
    }

    .account-data{
      display: flex;
      justify-content: flex-start;

      p{
        margin-right: 2em;
      }
    }

    .contact-host{
      width: max-content;
      margin-block: 1em;
      padding-inline: 0.9em;
      padding-block: 0.7em;
      border: 1.2px black solid;
      border-radius: 0.5em;

      a{
        text-decoration: none;
      }

    }

    .contact-host:hover{
      background-color: rgb(226, 224, 224);
    }

    section + section{
      border-top: 0.5px solid grey;
    }
  }

}
