footer{
  position: absolute;
  background-color: rgb(231, 230, 230);
  padding-inline: 30px;
  margin-top: 20px;
  width: 100%;
  bottom: -20rem;
  // left: 0px;
  margin: 0;
  font-weight: 200;

  h4{
    padding-bottom: 0.2em;
    font-size: 1em;
  }

  div{
    border-bottom: 0.5px solid rgb(189, 189, 189);
    display: flex;
    justify-content: space-evenly;
    padding-block: 15px;
  }

  ul li{
    list-style-type: none;
  }

  ul li a{
    text-decoration: none;
    color: black;
  }

  .airbnb-info ul li a:hover{
    text-decoration: underline;
    color: black;
  }

  .language-social ul li{
    display: inline;
  }
}
