.list-all{
  display: grid;
  grid-template-columns: repeat(auto-fill, 17em);
  padding-inline: 0rem;
  padding-top: 2rem;
  justify-content: center;
  gap: 1.5rem;
}

.searched-map{
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  padding-inline: 0rem;
  justify-content: center;
}

.flats-searched{
  display: grid;
  grid-template-columns: repeat(auto-fill, 17em);
  padding-inline: 0rem;
  justify-content: center;
  gap: 1.5rem;
  padding-block: 1.5rem;
}
