.list-all{
  display: grid;
  grid-template-columns: repeat(auto-fill, 14em);
  padding-inline: 0rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  justify-content: center;
  gap: 1.5rem;
}

#flats-container{
  width: 60%;
  overflow-y: auto;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 14em);
  gap: 1.2em;
  justify-content: center;
}

.show-booking{
  width: 60%;
  overflow-y: auto;
  height: 85vh;
  padding-bottom: 1rem;
}
