#map-flat {
  position: relative;
  width: 100%;
  height: 400px;
}

#map-flats {
  position: sticky;
  width: 100%;
  height: 92vh;
  top: 0px;
  left: 0px;

  .mapboxgl-popup {
    max-width: 200px;
  }

  div.mapboxgl-popup-content{
    // text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    border-radius: $border-radius-cards;

    img{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    button{
      color: black;
      background-color: white;
      position: relative;
      top: -298px;
      left: 10px;
      padding-inline: 6px;
      font-size: 1.4em;
      border-radius: 25em;
    }

    button:hover{
      box-shadow: 0 0 8px black;
      background-color: white;
    }
  }
}
