.profile{
  display: flex;
  align-items: center;
  justify-content: center;

  div{
    margin-left: 0.5em;
  }

  ul.show{
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(-120px, 30px, 0px);
  }

  .avatar-container{
    border-radius: 25em;
    border: 0.5px solid $normal-gray;
    display: flex;
    align-items: center;
    padding-block: 3px;
    padding-inline: 5px;

    i{
      padding-inline: 10px;
      color: $normal-gray;
    }
  }
}
