.review-container{
  padding-left: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 1em;

  p{
    margin-bottom: 0px;
  }
  i{
    font-size: 0.8em;
  }
  .review-rating{
    display: flex;
    justify-content: left;
    align-items: center;

    div p{
      margin-left: 0.3em;
    }
  }
  .review{
    font-size: 0.9em;
  }
  .review-date{
    font-size: 0.9em;
    font-weight: bold;
  }
  .review-profile{
    display: flex;
    align-items: center;
    p{
      margin-left: 0.5em;
    }
  }
}
