@media (max-width: 770px) {
  .big-screen{
    display: none;
  }
  .small-screen{
    margin-right: 1em;
  }

  footer{
    bottom: -29rem;
  }
}
@media (min-width: 770px) {
  .small-screen{
    display: none;
  }
}
